*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #bcbcbc;
    color: #000000;
}
.icono {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
}
.icono[alt="Completar"] {
    width: 25px;
    height: 25px;
}
.icono:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-column: span 4 / span 4;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    grid-column-start: 3;
    grid-row-start: 3;
}
        